*{
    font-family: 'Noto Sans JP', sans-serif;
}
.brand-logo{
    font-family: 'Lobster', cursive;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav{
    position: sticky; 
    top:0; 
    z-index:1000
}

  /* label color */
  .input-field label {
    color: #0d47a1;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #0d47a1;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #0d47a1;
    box-shadow: 0 1px 0 0 #0d47a1;
  }


  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #0d47a1;
  }